// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$brand-primary: #4eab89;
$brand-secondary: #1892ca;
$brand-black: #2D3333;
$brand-danger: #8A4747;


// Cart
$cartGrey: #bcbcbc!important;