#app{
    ul{
        padding-top: 5px;
        li{
            font-size: 15px;
            cursor: pointer;
            .is_active{
                font-weight: 600;
                color: #1892ca !important;
            }
        }
    }
}

