#app{
    ul{
        li{
            .is_active{
                color: #0a66c2;
                font-weight: 600;
            }
        }
    }
}

.admin_dishes{
    text-align: center;


    table{
        width: 100%;
        margin: auto;
        margin-top: 40px;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 150px!important;
        tr{
            th{
                width: calc(100% / 5);
                padding-top: 15px;

                h4{
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: -10px;
                }
            }
        }
            tbody{
                .description_wrapper{
                    overflow: auto;
                    max-height: 170px;

                    .description{
                        height: 100%;
                    }
                }
                td{
                    width: calc(100% / 5);
                    padding: 2rem 0;
                    overflow-y: auto;

                    span{
                        font-size: 18px;
                        color: #666666;
                        font-weight: 400;
                    }
                }
            }
    }
    form{
        display: inline-block;
        margin: 15px;

        input{
            border: none;
            width: 100px;
            padding: 5px 0 2px 0;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
        .green{
            background-color: white;
            color: black;
            border-radius: 4px;

            &:hover{
                background-color: rgb(73, 230, 73);
                color: white;
            }
        }
        .red{
            background-color: white;
            color: black;
            border-radius: 4px;

            &:hover{
                background-color: red;
                color: white;
            }
        }
        .blue{
            background-color: white;
            color: black;
            border-radius: 4px;

            &:hover{
                background-color: rgb(79, 93, 223);
                color: white;
            }
        }
    }
} 