.dish_card{
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        width: 90%;
        font-weight: 600;
        font-size: 17px;
        padding: 10px;
        border-bottom: 1px solid rgb(177, 177, 177);
        text-align: center;
    }
    img{
        height: 300px;
        margin: 25px;
        border-radius: 5px;
    }
    p{
        text-transform: capitalize;
    }
    .price{
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 25px;
        border-top: 1px solid rgb(177, 177, 177);

        span{
            padding: 5px 30px;
            background-color: rgb(76, 162, 212);
            border-radius: 5px;
            color: white;
            font-size: 25px;
        }
    }

}