.restaurant_container{
    max-width: 1170px;
    margin: auto;
    .categories{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .category{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            text-decoration: none;
            color: $brand-black;
            &:hover{
                cursor: pointer;
                img{
                    background-color: rgb(236, 236, 236);
                    border-radius: 50%;
                }
            }

            img{
                height: 60px;
                width: 60px;
                margin-bottom: 10px;
            }
            h5{
                font-size: 14px;
                font-weight: 600;
            }
        }
        .selected{
            color: $brand-secondary!important;
            img{
                background-color: rgb(236, 236, 236);
                border-radius: 50%;
            }
        }
    }
    h1{
        margin: 30px 0px 15px 29px;
        font-size: 35px;
        margin-bottom: 20px;
    }
    .restaurants{
        margin: 15px 15px 50px 15px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .restaurant{
            margin: 20px 0 20px 0;
            height: 135px;
            width: 275px;
            border-radius: 3px;
            background-color: #DCDCDC;
            background-size: cover;
            background-position: center center;
            overflow: hidden;
            background-repeat: no-repeat;
            padding: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            &:hover{
                opacity: 80%;
                cursor: pointer;
            }
        }
        a{
            text-decoration: none;
            h4{
                color: black;
                font-size: 18px;
                display: inline-block;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }

}


// Jumbotron

.container-fluid{
    background-image: linear-gradient(to right, #4EAB89, #00828C);
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left{
    padding-left: 15%;
}

#slide_in_l{
    animation: slideIn 1.5s ease-in;
}
@keyframes slideIn {
    0% {
         transform: skew(-45deg) translateX(-500px);
    }
    60%{
        transform: skew(0deg) translateX(30px);
    }
    100% {
        transform: skew(0deg);
    }
}

.right{
    text-align: center;
}

#hero_img{
    width: 50%;
    animation: grow 1s ease;
}
@keyframes grow{
    0%{
        transform: scaleX(0);
    }
    60%{
        transform: scaleX(0.5);
    }
    100%{
        transform: scaleX(1);

    }
}



