.jumbo-fluid{
    background-image: linear-gradient(to right, #0092CD, #0CB28B);
    padding: 2% 0%;
    color: white!important;
}

.jumbo_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.left_j{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
}
#slide_in_l{
    animation: slideIn 1.5s ease-in;

    h1{
        font-size: 3.5rem;
        color: white !important;
    }

    .lead{
        font-size: 1.5rem;
    }
}
@keyframes slideIn {
    0% {
         transform: skew(-45deg) translateX(-500px);
    }
    60%{
        transform: skew(0deg) translateX(30px);
    }
    100% {
        transform: skew(0deg);
    }
}

.right{
    display: flex;
    justify-content: center;

    .search_card{
        background-color: white;
        width: 60%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: spin 1s ease;
        flex-direction: column;
        padding: 20px 5px;
        text-align: center;

        h3{
            margin-bottom: 12px;
            color: $brand-primary !important;
        }
    }
}
@keyframes spin{
    0%{
        transform: scaleX(0);
    }
    40%{
        transform: scaleX(0.4);
    }
    60%{
        transform: scaleX(0.6);
    }
    100%{
        transform: scaleX(1);
    }
}

.cat_search{
    padding: 20px 10px;
    display: flex;
    justify-content: center;

    h3{
        text-align: center;
    }
}

