.container-fluid{
    background-image: linear-gradient(to right, #4EAB89, #00828C);
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left{
    padding-left: 15%;
}
#slide_in_l{
    animation: slideIn 1.5s ease-in;
}
@keyframes slideIn {
    0% {
         transform: skew(-45deg) translateX(-500px);
    }
    60%{
        transform: skew(0deg) translateX(30px);
    }
    100% {
        transform: skew(0deg);
    }
}
.right{
    text-align: center;
}
#hero_img{
    width: 50%;
    animation: grow 1s ease;
}
@keyframes grow{
    0%{
        transform: scaleX(0);
    }
    60%{
        transform: scaleX(0.5);
    }
    100%{
        transform: scaleX(1);
    }
}