
#app{
    .navbar-brand{
        font-family: 'Courgette', cursive; 
        font-size: 25px;
        color: $brand-secondary;
    }
    .searchbar{
        margin-left: 50px;
        form {
            font-size: 15px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgb(180, 180, 180);
            position: relative;
            &:hover{
                border-bottom: 1px solid $brand-primary;
                i{
                    color: $brand-secondary;
                }
            }

            input {
                border: none;
                width: 150px;
                &:focus{
                    outline: none;
                    -webkit-appearance: none;
                }
            }
            button {
                border: none;
                background-color: white;
                position: absolute;
                right: 0;
                i {
                    font-size: 13px;
                    color: rgb(180, 180, 180);
                }
            }
        }
    }
    h1{
        color: $brand-black;
    }
}

.drop-down-user {
    z-index: 1;
}

.carrello {
    z-index: -1;
}
