@media screen and (max-width:768px) {
    #slide_in_l{
        h1{
            font-size: 3rem!important;
        }
        .lead{
            display: none;
        }
    }
    .search_card{
        h3{
            display: none;
        }
    }
}